{% extends "base.html" %}

{% block content %}
<h1>Actualizar un Post</h1>
<form action="/post/update/{{ post['id'] }}" method="post">


    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{ post['nombre'] }}">
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="{{ post['apellido'] }}">
    </div>
    <div>
        <label for="aprobado">Aprobado</label>
        <input type="text" name="aprobado" id="aprobado" value="{{ post['aprobado] }}">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}